.btn-icon {
    width: 111px;
    height: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}
